<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Nutricionista App</title>
</head>
<body>
    <header>
        <h1 class="titulo">NutricionistaApp</h1>
        <a href="/login.html" style="font-weight: bold; font-size: 20px; color: #000;">Entrar</a>
    </header>
    <div class="container">
        <main class="chamada">
            <div class="containerChamada">
                <p class="textao">Tudo começa com o que você come.</p>
                <p class="textoMonitora">Monitore suas refeições ou comece agora um plano nutricional com um dos nossos Nutricionistas.</p>
                <a href="/login.html" class="btn">Começar</a>
            </div>
            <img src="img/healthy-options-animate.svg" alt="">
        </main>
    </div>
    <div class="chamadaNutricionista">
        <div>
            <h1>Junte-se a nosso time!</h1>
            <p>Nutricionistas, junte-se a nós na jornada de transformação! Seja parte do nosso aplicativo e faça a diferença na saúde e bem-estar dos nossos usuários. Juntos, podemos criar um impacto positivo na vida das pessoas através da nutrição!</p>
            <a href="/login.html" class="btn">Entrar para o time!</a>
        </div>
        <img src="img/nutricionista.jpg" alt="">
    </div>
    <footer>
        <p>&copy; Todos os direitos reservados</p>
    </footer>

    
</body>
</html>