<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfilUsuariostyle.css">
    <link rel="stylesheet" href="css/PrepararRefStyle.css">
    <title>Contador de Calorias</title>
</head>
<body>
    <header>
        <h1 class="titulo">NutricionistaApp</h1>
        <a class="perfil" href="contadorCalorias.html">Contador</a>
    </header>

    <div class="main">
        <h1 class="titulo">Bem-Vindo</h1>
        
    </div>

    <footer>
        <p>&copy; Todos os direitos reservados</p>
    </footer>

    <script src="js/index.js"></script>
</body>
</html>